<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Revita Gadis Amijaya</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Data Peserta Didik</h1>
  <br>
  <form action="{{url_for('siswa')}}" method="post">
    <select name="revitaNIS">
        <option value="None">Semua Peserta Didik</option>
        {% for revitaLoop in revitaListsis %}
            <option value="{{ revitaLoop.nis }}">{{ revitaLoop.nis }} - {{ revitaLoop.nama }}</option>
        {% endfor %}
    </select>
    <hr>
    <select name="revitaSemester">
        <option value="None">Semua Semester</option>
        {% for revitaLoop in revitaListsem %}
            <option value="{{ revitaLoop.semester }}">{{ revitaLoop.semester }} - {{ revitaLoop.semester }}</option>
        {% endfor %}
    </select>
    <hr>
    <select name="revitaTahunAjar">
        <option value="None">Semua Tahun Ajaran</option>
        {% for revitaLoop in revitaListtahun %}
            <option value="{{ revitaLoop.tahun_ajar }}">{{ revitaLoop.tahun_ajar }} - {{ revitaLoop.tahun_ajar }}</option>
        {% endfor %}
    </select>
    <button type="submit">Filter</button>
  </form>
  <a href="{{ url_for('cetak') }}?semester={{ request.form.revitaSemester }}&tahun_ajar={{ request.form.revitaTahunAjar }}">
  <button>Cetak Raport</button>
  </a>
  <table>
      <tr>
        <th>Nama</th>
        <th>NIS</th>
        <th>Alamat</th>
        <th>Jenis Kelamin</th>
      </tr>
      {%if revitaData%}
      {%for revitaLoop in revitaData%}
        <tr>
          <td>{{revitaLoop.nama}}</td>
          <td>{{revitaLoop.nis}}</td>
          <td>{{revitaLoop.alamat}}</td>
          <td>{{revitaLoop.jk}}</td>
        </tr>
      {%endfor%}
      {%else%}
        <tr>
          <td>Data Tidak Ditemukan</td>
        </tr>
      {%endif%}
    </table>
</body>
</html>
